<h1>Treats#show</h1>

<br />
<div id='treat'>
  <%= render @treat %>
</div>

<br /><br />

<% @marks.each do |mark| %>
  目標：<%= mark.content %>
  進捗率：<%= mark.progress %>%
  <%= link_to "編集", edit_mark_path(mark) %>
<% end %>
